<thead>
	<tr>
		<th class = "hidden-sm">학수번호</th>
		<th class = "hidden-sm">과목명</th>
		<th class = "hidden-sm">학년</th>
		<th class = "hidden-sm">학점</th>
		<th class = "hidden-sm">구분</th>
		<th class = "hidden-sm">시간 및 강의실</th>
		<th class = "hidden-sm">교수</th>
		<th class = "hidden-sm">평가</th>
		<th class = "hidden-sm">비고</th>
	</tr>
</thead>
<tbody>
	<%if re.count != 0 %>
		<%=re.each do |r| %>
			<tr class = "search_result_tr" data-link="<%=r.time%>" data-code="<%=r.code%>" data-id = "<%=r.id%>")>
				<%unless r.url.nil?%>
					<td class = "hidden-sm"><a href = "http://m.inha.ac.kr/<%=r.url%>" target = "_blank" class = "class-code" alt = "강의평가로 접속됩니다."><%=r.code%></a></td>
				<%else%>
					<td class = "hidden-sm"><%=r.code%></a></td>
				<%end%>
				<td class = "col-md-2 hidden-sm"><span class = "title"><%=r.title%></span></td>
				<td class = "hidden-sm">
				<%unless r.grade.nil?%>
					<%=r.grade%>
				<%end%>
				</td>
				<td class = "hidden-sm"><%=r.credit%></td>
				<td class = "hidden-sm">
				<%unless r.class_type.nil? %>
					<%=course_type_help(r.class_type)%>
				<%end%>
				</td>
				<td class = "hidden-sm"><%=r.time%></td>
				<td class = "hidden-sm"><%=r.instructor%></td>
				<td class = "hidden-sm">
				<%unless r.eval.nil? %>
					<%=course_eval_help(r.eval)%>
				<%end %>
				</td>
				<td class = "hidden-sm">
				<%unless r.etc.nil? %>
					<%=r.etc%>
				<%end%>
				</td>
				<td class = "mobile-info visible-sm visible-xs"><a href = "http://m.inha.ac.kr/<%=r.url%>" target = "_blank" class = "class-code" alt = "강의평가로 접속됩니다."><%=r.title%></a><%=raw(mobile_info_help(r))%></td>
			</tr>
		<%end%>
	<%else%>
		<td colspan = "10" >수업을 찾지 못했습니다.</td>
	<%end%>
</tbody>