<div class="container">
	<div id="content_wrapper">
		<div id = "result_show_wrapper">
			<div id = "alltimecellcontainer"></div>
			<table id = "timetable" class = "table table-bordered timetable">
				<thead>
					<tr>
						<th class = "col-md-1 col-sm-1 col-xs-2 classes-time">\</th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">월</th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">화</th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">수</th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">목</th>
						<th class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">금</th>
						<th class = "col-lg-1 col-md-1 col-sm-1 hidden-sm">시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">9<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">1<small>교시</small></span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">10<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">3교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">11<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">5교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">12<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">7교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">1<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">9교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">2<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">11교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">3<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">13교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">4<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">15교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>	
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">5<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">17교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">6<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">19교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>	
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">7<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">21교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>			
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">8<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">23교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">9<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">25교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
          <tr>                                                                             
          	<td class = "timecell" rowspan="2"><span class ="table-days">10<small>PM</small></span></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
             <td class = "hidden-sm" rowspan="2"><span class ="table-days">27교시</span></td>
          </tr>
          <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>																																																	
				</tbody>
			</table>
		</div><!--end of result_show_wrapper-->
		<div id="o-wrapper" class="o-wrapper">
		  <div class="c-buttons form-group">
		    <button id="c-button--slide-bottom" class="c-button btn btn-primary form-control">검색</button>
		  </div>
		  <!-- other content in here -->
		</div><!-- /o-wrapper -->
		<div id="c-mask" class="c-mask"></div><!-- /c-mask -->


	</div><!--end of content_wrapper-->
</div><!--end of container-->
<div id="c-menu--slide-bottom" class="c-menu c-menu--slide-bottom">
	<div class = "container">
	  	<div id = "search_form_wrapper">
				<div class="form-group">		
					<%= select_tag(:major, options_from_collection_for_select(Major.all, 'id', 'title'),  id: "majorselector", class: "form-control" ) %>
				</div>
				<%=form_tag({controller: "courses", action: "search"}, remote: "true", method: "post") do %>
					<div class="input-group">
						<%= select_tag(:query_kind, options_for_select([['과목명', 1], ['교수명', 2], ["학수번호",3]]), class: "selectpicker show-tick main-selector") %>
					 	<%= text_field_tag :query, "", class: 'form-control'%>
					<span class="input-group-btn">
	        	<%= submit_tag "검색", class: 'btn btn-primary'%>
	        </span>
		    	</div>
	     	<%end%>
			</div>
			<div id = "result_form_wrapper">
				<table id = "search_result" class = "table table-bordered">
					<thead>
						<tr>
						</tr>
					</thead>
					<tbody>
						<tr>
							<h3 id = "announce">처음 접속시 초기화를 눌러주세요.</br>
							 2016년 봄 시간표가 검색 가능합니다.</br>
							 이제 학수번호 혹은 과목명을 누르면 강의계획서 확인이 가능합니다!</h3>
						</tr>
					</tbody>
				</table>
			</div><!--end of result_form_wrapper-->		
  </div>
</div>



<%= javascript_include_tag params[:controller] %>
