<div class="container">
	<div id="content_wrapper" class = "col-md-10">
		<div id = "result_show_wrapper">
			<div id = "alltimecellcontainer"></div>
			<table id = "timetable" class = "table table-bordered timetable">
				<thead>
					<tr>
						<th class = "col-md-1 col-sm-1 col-xs-2 classes-time">\</th>
						<th class = "col-md-2">월</th>
						<th class = "col-md-2">화</th>
						<th class = "col-md-2">수</th>
						<th class = "col-md-2">목</th>
						<th class = "col-md-2">금</th>
						<th class = "col-md-1 hidden-sm">시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">9<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">1<small>교시</small></span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">10<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">3교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">11<small>AM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">5교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">12<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">7교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">1<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">9교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">2<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">11교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">3<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">13교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">4<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">15교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>	
					<tr>
						<td class = "timecell" rowspan="2"><span class ="table-days">5<small>PM</small></span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">17교시</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		

				</tbody>
			</table>
		</div><!--end of result_show_wrapper-->
		<div id = "search_form_wrapper">
			<%=form_tag({controller: "courses", action: "search"}, remote: true,  method: "post") do %>
				<div class="input-group">
						<%= select_tag(:query_kind, options_for_select([['과목명', 1], ['교수명', 2], ["학수번호",3]]), class: "selectpicker show-tick main-selector") %>

				 	<%= text_field_tag :query, "", class: 'form-control'%>
	        <span class="input-group-btn">
	        	<%= submit_tag "검색", class: 'btn btn-danger'%>
	        </span>
	    	</div>
     	<%end%>
		</div>
		<div id = "result_form_wrapper">
			<table id = "search_result" class = "table table-bordered">
				<thead>
				</thead>
			</table>
		</div><!--end of result_form_wrapper-->
	</div><!--end of content_wrapper-->
	<div id = "chat_container"></div>
</div><!--end of container-->
<%= javascript_include_tag params[:controller] %>