<div class="container">
	<div id="content_wrapper" class = "col-md-10">
		<div id = "search_form_wrapper">
			<%=form_tag({controller: "courses", action: "search"}, remote: true,  method: "post") do %>
				<div class="input-group">
						<%= select_tag(:query_kind, options_for_select([['과목명', 1], ['교수명', 2], ["학수번호",3]]), class: "selectpicker show-tick main-selector") %>

				 	<%= text_field_tag :query, "", class: 'form-control'%>
	        <span class="input-group-btn">
	        	<%= submit_tag "검색", class: 'btn btn-danger'%>
	        </span>
	    	</div>
     	<%end%>
		</div>
		<div id = "result_form_wrapper">
			<table id = "search_result" class = "table table-bordered">
				<thead>
					<tr>
						<th class = "hidden-sm">학수번호</th>
						<th class = "hidden-sm">과목명</th>
						<th class = "hidden-sm">학년</th>
						<th class = "hidden-sm">학점</th>
						<th class = "hidden-sm">과목구분</th>
						<th class = "hidden-sm">시간 및 강의실</th>
						<th class = "hidden-sm">담당교수</th>
						<th class = "hidden-sm">평가</th>
						<th class = "hidden-sm">비고</th>
					</tr>
				</thead>
			</table>
		</div><!--end of result_form_wrapper-->
		<div id = "result_show_wrapper">
			<div id = "alltimecellcontainer"></div>
			<table id = "timetable" class = "table table-bordered timetable">
				<thead>
					<tr>
						<th class = "col-md-1 col-sm-1 col-xs-2 classes-time">\</th>
						<th class = "col-md-2">월</th>
						<th class = "col-md-2">화</th>
						<th class = "col-md-2">수</th>
						<th class = "col-md-2">목</th>
						<th class = "col-md-2">금</th>
						<th class = "col-md-1 hidden-sm">시간</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="timecell">1교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오전 9시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">2교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">3교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오전 10시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">4교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">5교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오전 11시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">6교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">7교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">정오</span></td>
					</tr>
					<tr>
						<td><span class="timecell">8교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">9교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 1시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">10교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">11교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 2시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">12교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span class="timecell">13교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 3시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">14교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>					
					<tr>
						<td><span class="timecell">15교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 4시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">16교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td><span class="timecell">17교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 5시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">18교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td><span class="timecell">19교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 6시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">20교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td><span class="timecell">21교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 7시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">22교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td><span class="timecell">23교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 8시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">24교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		
					<tr>
						<td><span class="timecell">25교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class = "hidden-sm" rowspan="2"><span class ="table-days">오후 9시</span></td>
					</tr>
					<tr>
						<td><span class="timecell">26교시</span></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>		

				</tbody>
			</table>
		</div><!--end of result_show_wrapper-->
	</div><!--end of content_wrapper-->
	<div id = "chat_container"></div>
</div><!--end of container-->
<%= javascript_include_tag params[:controller] %>